// Specific CSS for your home-page

$ams-img: 'https://kitt.lewagon.com/placeholder/cities/amsterdam';

.yalla-banner {
  height: 400px;
  background-position: center;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url($ams-img);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.yalla-logo {
  display: flex;
  justify-content: center;
  align-items: center;

}

.yalla-banner h1 {
  color: #db633d;
  text-align: center;
  font-size: 4em;
}

.category-container {
  margin: 10px 100px;
  display: flex;
  justify-content: space-between;
}

.category {
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid $teal-border;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $teal;
  &:hover {
    background-color: $teal-hover;
  }
}

.cat-link {
  margin: 10px;
  color: white;
  text-decoration: none;
  &:hover, &:active, &:visited, &:link {
    text-decoration: none;
    color: white;
  }
}
