.header-new {
  color: $orange;
}

.form-label {
  color: $teal;
}

.form-control {
  background-color: rgb(235, 235, 235);
}

.text-field-box {
  padding-bottom: 100px;
  word-wrap: break-word;
}

.date-color {
  color: $teal;
}


