  <div class="photo-uploader form-inline">
    <%= simple_form_for current_user, method: :put, url: profile_path(current_user) do |f| %>
      <%= f.input :photo, label: "Upload a photo to complete your profile:", class: "form-control" %>
      <%= f.input :photo_cache, as: :hidden, class: "form-control" %>
      <%= f.submit "Upload", class: "btn btn-success" %>
    <% end %>
  </div>

