<div class="profile-banner">
  <div class="show-avatar" align="center">
    <% if current_user.photo.present? %>
    <%= cl_image_tag @user.photo, alt: "avatar", class: "img-circle", width: 150, height: 150, crop: :thumb, gravity: :face %>
    <% else %>
    <i class="fas fa-user-circle fa-9x"></i>
    <% end %>
  </div>
</div>

