<%= render partial: 'profile_banner', locals: { email: @user.email } %>

<h3>Yalla! Here are your upcoming tours:</h3>
<!-- (as list or cards, if cards render from shared)
 -->

 <h3>Psst! Did you enjoy (put in pe) @user.tours.last.title? We would be thrilled if you give a review!</h3>

<!-- list of previous tours (as list or cards, if cards render from shared)
-->


<%= link_to "Account settings", edit_user_registration_path, class: "btn btn-primary" %>
