<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">

        <h2>Book a new tour</h2>
        <h3><%= @tour.title %></h3>

        <div>
          <%= link_to "okay", root_path(:confirm => "true"), class: "btn btn-success btn-lg" %>
        </div>

    </div>
  </div>
</div>
