<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">

        <h2>Please Confirm Your Tour</h2>
        <h3></h3>


        <p>Are you sure you want to book <%= @tour.title %> tour?</p>


        <%= link_to "CONFIRM", book_path(@tour), class: "btn btn-success btn-md", method: :post %>



          <p>If you are unsure about any of the details please return to the tour</p>
          <%= link_to "BACK", tour_path(@tour), class: "btn btn-warning btn-md" %>


    </div>
  </div>
</div>
