<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">

        <h2>Book a new tour</h2>
        <h3><%= @tour.title %></h3>

        <p>Are you sure you want to book this tour?</p>
        <div>
          <%= link_to "yes", book_path(@tour), class: "btn btn-success btn-lg", method: :post %>
        </div>
        <div>
          <%= link_to "back", tour_path(@tour), class: "btn btn-danger btn-lg" %>
        </div>
    </div>
  </div>
</div>
