<div class="container text-center">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h2 class="confirm-header confirm-border">CONFIRM YOUR TOUR</h2>
        <h4>Hit confirm to book your place on <strong><%= @tour.title.upcase %></strong> tour</h4>

        <p class="confirm-border"><%= link_to "CONFIRM", book_path(@tour), class: "btn btn-success btn-md border-details", method: :post %></p>

          <h4>If you wish to review the tour before booking please click</h4>
          <p class="confirm-border"><%= link_to "BACK", tour_path(@tour), class: "btn btn-warning btn-md " %></p>
    </div>
  </div>
</div>
