<div class="wrapper">
  <div class="container">
    <div class="yalla-container">
      <div class="text-center">
        <div class="row">

          <h2 class="index-header">YALLA! HURRY UP & JOIN A TOUR</h2>

          <% @tours.each do |tour| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <%= link_to tour_path(tour), class: "custom-card-link" do %>
                <div class="card">
                  <h3><%= tour.title.upcase %></h3>
                </div>
              <% end %>
            </div>
          <% end %>


        </div> <!-- row -->
      </div> <!-- text-center -->
    </div> <!-- yalla-container -->
  </div> <!-- container -->
</div>  <!-- wrapper -->

