<div class="container ">
  <div class="show-container">
    <div class="row">
      <div class="col-md-6">
        <%= render 'tour_description', tour: @tour %>
        <%= render 'review_form', review: @review, tour: @tour %>
        <%= render 'reviews_list', tour: @tour %>
      </div> <!-- col -->
      <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      ></div>
    </div> <!-- bootstrap row -->
  </div> <!-- show container -->
</div> <!-- bootstrap container -->


