<div class="yalla-banner">
<<<<<<< Updated upstream
  <h1>JOIN A TOUR</h1>
=======


  <div>
    <p class="yalla-logo"><%= image_tag "yalla3", alt: "logo", size: 160 %></p>
    <h1>YALLA!</h1>
    <p>
      <h2>JOIN A TOUR</h2>
    </p>
  </div>
>>>>>>> Stashed changes
</div>
