.custom-card-link {
  text-decoration: none;
  &:hover, &:link, &:active {
    text-decoration: none;
  }
}

.smaller-grid {
  display: inline-block;
  width: 350px;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 10px 0px;
  background-image: linear-gradient(rgba(0,0,0,0.7),
   rgba(0,0,0,0.3)), url('https://kitt.lewagon.com/placeholder/cities/amsterdam');
  &:hover {
    background-image: linear-gradient(rgba(0,0,0,0.3),
     rgba(0,0,0,0.2)),
     url('https://kitt.lewagon.com/placeholder/cities/amsterdam');
  }
}

.uploaded-photo {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  position: relative;
  margin: 10px 0px;
}

.uploaded-show {
  position: relative;
}

.default-photo {
  position: relative;
}

.overlay {
  background-image: linear-gradient(rgba(0,0,0,0.7),
   rgba(0,0,0,0.3));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &:hover {
    background-image: linear-gradient(rgba(0,0,0,0.3),
     rgba(0,0,0,0.2));
  }
}

.overlay-show {
  background-image: linear-gradient(rgba(0,0,0,0.3),
   rgba(0,0,0,0.1));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &:hover {
    background-image: linear-gradient(rgba(0,0,0,0.3),
     rgba(0,0,0,0.2));
  }
}
.card-description {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.tour-title {
  position: absolute;
  left: 10px;
  top: 0px;
  text-align: left;
}

.card-space {
  padding: 20px 20px;
}

.index-header{
  color: #db633d;
}

.card-link {
  color: $orange;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.1;
}
