.profile-banner {
  margin: -25px;
  height: 200px;
  background-color: $teal;
  color: white;
  position: relative;
}

.circle-right{
  position: absolute;
  top: 25px;
  left: 50px;
}

.profile-text-banner{
  text-align: center;
  padding-top: 20px;
}
