.profile-banner {
  height: 100px;
  background-color: $teal;
  color: white;
  position: relative;
}

  .show-avatar {
  position: absolute;
  bottom: -20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}

.profile-text-banner{
  text-align: center;
  color: $orange;
  margin-top: 50px;

}


.p-text-size {
  font-size: 15px;
}


.p-text-size a {
  font-size: 15px;
  color: black;
  &:hover {
    text-decoration: none;
    color: $teal;
    .when-hover {
      color: $teal;
    }

  }
}


.when-hover {
  color: white;
}
